@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 45px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: white;
  background-color: #00B2EE;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;

}
body {
  width: 100%;

}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #F5F5F5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header img{
    width: 46px;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#menu li a {
    text-decoration: none;
    color: #696969;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    display: block;
}


#menu li {
    position: relative;
}

#menu li ul {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 0;
    display: none;
    min-width: 200px;
    z-index: 1000;
}

#menu li ul li {
    padding: 10px 20px;
    white-space: nowrap;
}

#menu li a:hover,
#menu li a.danhdau {
    color: #00B2EE;
}

#menu li a.danhdau::after,
#menu li a:hover::after {
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background: #00B2EE;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#close{
  display: none;
}
#mobile{
  display: none;
  align-items: center;
}
#banner {
  background: url(../images/sabrianna-Eulnh2kzUR01-unsplash.jpg);
  background-position: top 35% right 0;
  background-size: cover;
  height: 90vh ;
  width: 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#banner h1{
    color: #00B2EE;
    
}

#banner h2{
    color: #4F4F4F;
}

#banner h4{
    padding-bottom: 15px;
    color: #4F4F4F;
}

#banner p{
   color:  #4F4F4F;
}

#banner a{
    text-decoration: none;
    color: #363636;
}

#banner button{
    padding: 12px 30px;
    background: #9C9C9C;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s ease;
    font-weight: 700;
    font-size: 15px;
}
#banner button:hover{
    background: #00B2EE;
}

#fearture{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#fearture .box{
    width: 184px;
    text-align: center;
    padding: 25px 15px;
    border-radius: 4px;
    margin: 15px 0;
}


#fearture .box:hover{
    box-shadow: 10px 10px 54px rgba(0 ,178 ,238, 0.2);
}

#fearture .boxx img{
    width: 100%;
    padding: 0 45px;
}

#fearture .boxxx{
  width: 184px;

  padding: 25px 15px;
  border-radius: 4px;
  margin: 15px 0;
}

#fearture .boxxx img{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
}

#fearture .boxxx img:hover{
  box-shadow: 10px 10px 54px rgba(0 ,178 ,238, 0.2);
    transform: scale(1.1);
    
  
}


#fearture .box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px ;
    color:#363636 ;
}

#fearture .box p{
    color: #9C9C9C;
    font-size: 10px;
    margin: 9px 0;
}

#fearture .box i{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}

#product1{
  text-align: center;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border:  1px solid  #E8E8E8;
  cursor: pointer;
  border-radius: 15px;
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px ;  
  flex-wrap: wrap;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgb(0 ,178 ,238,0.06);
}

#product1 .pro img{
  width: 100%;
  border-radius: 7.5px;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #9C9C9C;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: #363636;
  font-size: 18px;
}

#product1 .pro .des i{
  font-size: 12px;
  color: rgb(238 201 0);
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #363636;
}

#product1 .pro .crat{
  color: #9C9C9C;
  position: absolute;
  bottom: 30px;
  right: 30px;
  transition: 0.5s ease;
}

#product1 .pro .crat:hover{
  color: #00B2EE;
}

.contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}
.contain .item {
  font-weight: 500;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}
.contain .item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.contain .content {
  padding: 15px;
}
.contain .content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}
.contain .content p {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  margin-bottom: 10px;
}
.contain .btn {
  display: inline-block;
  border: 1px solid black;
  color: #222;
  background: white;
  padding: 12px 30px;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
}
.contain .btn:hover {
  background: black;
  color: white;
}

.banne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.banne img {
  width: 50%;
  border-radius: 10px;
}
.banner-content {
  width: 45%;
}
.banne h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.banne p {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}
.banne button {
  padding: 10px 20px;
  border: 1px solid black;
  background: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.banne button:hover {
  background: black;
  color: white;
}

#new{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../images/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #1874CD;
}
#new h4{
  font-size: 22px;
  font-weight: 700;
  color: #F5F5F5;
}
#new p{
  font-size: 14px;
  font-weight: 600;
  color: #DCDCDC;
}
#new p span{
  color: #ffbd27;
}
#new .form{
  display: flex;
  width: 40%;

}
#new input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline:none ;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}
#new button{
 white-space: nowrap ;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  
}


footer .logo{
  margin-bottom: 15px;
  width: 60px;
}
 footer h4{
  font-size: 14px;
  padding-bottom: 20px;
  color: #222;
}

footer p{
  color: #222;
  font-size: 13px;
  margin:0 0 8px 0;
}

footer a{
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow{
  margin-top: 20px;
}

footer .follow i{
  color: #1874CD;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img{
  border: 2px solid #1874CD;
  border-radius: 6px;
}

footer .install p{
  font-weight: 500;
}

footer .install img{
  margin: 10px 0 15px 0;
}

footer .follow i:hover, 
footer a:hover{
  color: #00B2EE;
}

footer .copyright{
  width: 100%;
  text-align: center;
}

/*shop page*/
#page-header{
  background-image: url(../images/bannershop1.jpg);
  background-size: cover;
  background-position: top 60% ;
  width: 100%;
  height: 40vh;
  display: flex;
  text-align: center;
  justify-content:center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2,p{
  color: #fff;
}
#pagitation{
  text-align: center;
}

#pagitation a{
  text-decoration: none;
  background-color: #00B2EE;
  margin: 0 1px;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagitation a i{
  font-size: 16px;
  font-weight: 600;
}
#pagitation a:hover,
#pagitation a.danhdau{
  background-color: #1874CD;
}

/*single product page*/
#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4{
 padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
 font-size: 26px;
}

#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}


#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  margin-right: 10px;
  font-size:16px ;
}

#prodetails .single-pro-details input:focus{
  outline: none;
}

#prodetails .single-pro-details span{
  line-height: 25px;
  font-weight: 500;
}

.tabs {
  background: #fff;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  border-radius: 5px;
}

.tab-buttons {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tab-btn {
  background: none;
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.tab-btn.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: 500;

}
#review p{
  color: #222;
  font-weight: 500;
}
.stars span {
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.stars span.hovered,
.stars span.selected {
  color: gold;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 600px;
}

.review-form input[type="text"],
.review-form input[type="email"],
.review-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.review-form button {
  width: 150px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.save-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.review-card {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
  }
  .review-card .stars {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .review-card em {
    font-size: 13px;
    color: #555;
  }
.review-card strong {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #222;
}

/* Blog Page */
#page-header.blog-header{
  background-image: url(../images/b19.jpg);

}

#blog{
  padding: 150px 150px 0 150px;
}

#blog p{
  color: #696969;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a{
  text-decoration: none;
  color: #00B2EE;
  font-weight: 700;
  font-size: 15px;
  position: relative;
}

#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 3px;
  background: #00B2EE;
  position: absolute;
  top: 4px;
  right: -60px;
  border-radius: 5px;
  transition: 0.3s;
}

#blog .blog-details a:hover{
  color: #1874CD;
}

#blog .blog-details a:hover::after{
  background-color: #1874CD;
}

#blog .blog-box h1 {
  position: absolute;
  top: -43px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #ccc;
  z-index: -9;
}


/* Responsive Styles */
@media (max-width:799px){
  .section-p1{
    padding: 40px 40px;
  }

  #menu{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0; right: -300px; height: 100vh; width: 300px;
      background-color: #F5F5F5;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px  ;
      transition: 0.3s;
  }

  #menu.active{
      right: 0;
  }

  #menu li{
      margin-top: 25px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    font-size: 24px;
    color: #696969;
    padding-left: 20px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #696969;
    font-size: 24px;
  }
  #lg-bag{
    display: none;
  }
  #banner{
    height: 70vh;
    padding: 0 80px;
    background-position: top 40% right 30%;
  }
  #fearture{
    justify-content: center;
  }
  #fearture .box{
    margin: 15px 15px;
  }

  #fearture .boxx{
    margin: 15px;
  }
  
  #fearture .boxxx{
    margin: 15px;
  }

  #product1 .container{
    justify-content: center;
  }
  #product1 .pro{
    margin: 15px ;
  }
  .banne {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.banne img {
    width: 50%;
    border-radius: 10px;
}
.banner-content {
    width: 45%;
}
.banne h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
.banne p {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}
.banne button {
    padding: 10px 20px;
    border: 1px solid black;
    background: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.banne button:hover {
    background: black;
    color: white;
}
.contain {
  grid-template-columns: 1fr;
  gap: 15px;
  max-width: 100;
}
.contain .content h3 {
  font-size: 18px;
}
.contain .content p {
  font-size: 14px;
}
.contain .btn {
  padding: 10px 25px;
  font-size: 14px;
}

#new .form{
  width: 70%;
}

.tab-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .tab-btn {
    width: 100%;
    text-align: left;
    padding: 12px 10px;
    font-size: 16px;
  }

  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  


}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px ;
  }
  #header {
    padding: 10px 30px;
  }
  h1{
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #banner {
    padding: 0 20px;
    background-position: 55%;
  }

  #fearture {
   justify-content: space-between;
  }

  #fearture .box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #fearture .boxx{
    width: 155px;
    margin: 0 0 15px 0;
  }

  #fearture .boxxx{
    align-items: center;
    width: 140px;
    padding: 0 20px;
    margin: 0 0 15px 0;

  }
  #product1 .pro{
   width: 100%;
  }
  .banne {
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.banne img {
    width: 100%;
}
.banner-content {
    width: 100%;
    padding: 15px;
}
.banne h2 {
    font-size: 24px;
}
.banne p {
    font-size: 14px;
}
.contain {
  
  padding: 10px;
}
.contain .item {
  padding: 15px;
}
.contain .content h3 {
  font-size: 16px;
}
.contain .content p {
  font-size: 13px;
}
.contain .btn {
  padding: 8px 20px;
  font-size: 13px;
}
 #new {
    padding: 40px 20px;
}
 #new .form {
    width: 100%;
  }
footer .copyright{
  text-align: start;
}

/*singel porduct*/
#prodetails{
  display: flex;
  flex-direction: column;
}
#prodetails .single-pro-image{
  width: 100%;
  margin-right: 0px;
}

#prodetails .single-pro-details {
    width: 100%;
}

.tabs {
    padding: 15px;
  }

  .tab-btn {
    font-size: 15px;
    padding: 10px 8px;
  }

  .info-table td {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
  }

  .info-table tr {
    display: block;
    margin-bottom: 10px;
  }

  .stars {
    font-size: 20px;
  }

  .review-form label {
    font-size: 14px;
  }

  button[type="submit"] {
    width: 100%;
    font-size: 16px;
  }

  .remember {
    flex-direction: column;
    align-items: flex-start;
  }

  /*blog page*/
  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100%;
  }



}

